body {
  font-size: 16pt;
  background-color: #696D7D; /* Gray background color */
  font-family: varela-round;
}

h1 {
  font-size: 50pt;
  font-weight: bold;
  color: #C8D5B9;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.alert {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 9999; /* Set a high z-index to ensure the alert is displayed on top */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-width: 70%;
}

.outer-border {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 70%;
  border: 5px solid #C8D5B9;
  border-bottom: 0px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background: #FAF3DD;
  padding: 20px;
}

.from_label {
  color: #696D7D;
}

.btn-submit {
  font-size: 16pt;
  margin-top: 10%;
  background-color: #C8D5B9;
  border-width: 1px;
  border-radius: 30px;
  min-width: 80%;
  border-color: #8FC0A9;
}

.btn-submit:hover {
  color: #FFFFFF;
  background-color: #8FC0A9;
}

.roles-checkbox {
  margin: auto;
  padding: 15px;
}

.roles-input {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 38px;
}

.form-check .form-check-input:checked {
  background-color: #8FC0A9;
  border-color: #8FC0A9;
}

.form-check .form-check-input {
  background-color: #FFFFFF;
  border-color: #C8D5B9;
}

.form-check .form-check-input:hover {
  background-color: #C8D5B9;
  border-color: #68B0AB;
}

.form-check .form-check-input:focus {
  border-color: #68B0AB;
  box-shadow: 0 0 0 0.15rem rgba(200, 213, 185, .85);
}

.form-control {
  background-color: #FFFFFF;
  border-color: #C8D5B9;
}

.form-control:focus {
  border-color: #68B0AB;
  box-shadow: 0 0 0 0.15rem rgba(200, 213, 185, .85);
}

.input-group-text {
  background-color: #FFFFFF;
  border-color: #C8D5B9;
}

@font-face { font-family: varela-round; src: url('varela-round.regular.ttf'); } 